#######################################################################
# Author: Lehlohonolo Adolf Matobakele  
# Email: lehlohonolo.matobakele@gov.ls
# Contacxt: 00266 62320704
#######################################################################

.venv/
__pycache__/
*.pyc
reports/
*.json
*.csv
.env
